@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="row">
    <div class="col-md-10">
        <p class="subtitle">Aqui você pode <strong>deletar</strong> sua conta e pode fazer download do seus dados.
        <strong class="text-danger">Deletar os seus dados irá deletar sua conta também.</strong></p>
        <hr />
        <form asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-green btn-sm" type="submit">Dados Pessoas</button>
        </form>
        <hr />
        <p>
            <a asp-page="DeletePersonalData" class="btn btn-red btn-sm">Deletar Conta</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}