<div class="container-fluid">
    <div class="row">
        <div class="card col-md-12">
            <div class="pd-15">
                <h1 class="title">Area Administrativa</h1>
                <p class="subtitle">Se você quiser voltar para a Home geral é só clicar <a asp-area="" asp-controller="App" asp-action="Index">aqui</a> ou em sair no menu do lado </p>
            </div>
        </div>
    </div>
</div>
