<div class="container-fluid">
  <div class="row">
    <div class="card col-md-12">
      <div class="pd-15">
      <h1 class="title">@ViewBag.Title</h1>
      <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sum dolor sit amet<br/> sed do eiusmod tempor incididunt ut</p>
    </div>
  </div>
  </div>
</div>