<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="#" />
    <meta name="keywords" content="Gestão de Pessoas, PUC Minas, Desenvolvimento Full Stack" />
    <meta name="author" content="Samuel S B Pereira" />
    <link rel="icon" href="~/Images/favicon.png" type="image" />
    <link rel="canonical" href="#" />

    <!-- social media metatags -->
    <meta property="og:title" content="SAGP - Sistema de Apoio do Gestão de Pessoas do IFMG - Campus São João Evangelista" />
    <meta property="og:description" content="Sistema desenvolvido como apresentação de trabalho de conclusão de curso de especialização da PUC - Minas" />
    <meta property="og:locale" content="Guanhães" />
    <meta property="og:url" content="sagpsje.azurewebsites.net" />
    <meta property="og:site_name" content="sagpsje.azurewebsites.net" />
    <meta property="og:type" content="Educação" />



    <!-- CSS imports -->
    <link rel="stylesheet" href="~/css/main.css" />
    <link href="~/css/Error.css" rel="stylesheet" />

    <title>SAGP</title>
</head>

<body>
    <div class="d-flex" id="wrapper">

        <div id="sidebar-wrapper">
            <div class="sidebar-heading">Dashboard - SAGP</div>
            <div class="list-group list-group-flush">
                <a asp-area="" asp-controller="App" asp-action="Index" class="list-group-item list-group-item-action"><i class="fa fa-exchange" aria-hidden="true"></i>Sair</a>
                <a asp-area="Admin" asp-controller="Admin" asp-action="Index" class="list-group-item list-group-item-action menu-active"><i class="fa fa-Home" aria-hidden="true"></i>Home</a>
                <a asp-area="Admin" asp-controller="AdminCarreiras" asp-action="Index" class="list-group-item list-group-item-action"><i class="fa fa-file" aria-hidden="true"></i>Carreiras</a>
                <a asp-area="Admin" asp-controller="AdminProgressoes" asp-action="Index" class="list-group-item list-group-item-action"><i class="fa fa-star" aria-hidden="true"></i>Progressões</a>
                <a asp-area="Admin" asp-controller="AdminCategoriaTarefa" asp-action="Index" class="list-group-item list-group-item-action"><i class="fa fa-cog" aria-hidden="true"></i>Categorias de Tarefas</a>
                <a asp-area="Admin" asp-controller="AdminFichas" asp-action="Index" class="list-group-item list-group-item-action"><i class="fa fa-address-card" aria-hidden="true"></i>Ficha por Título</a>
                <a asp-area="Admin" asp-controller="AdminFichas" asp-action="ListaFichaFuncionarios" class="list-group-item list-group-item-action"><i class="fa fa-hand-pointer-o" aria-hidden="true"></i>Ficha por Funcionario</a><a asp-area="Admin" asp-controller="AdminLogs" asp-action="Index" class="list-group-item list-group-item-action"><i class="fa fa-lock" aria-hidden="true"></i>Acompanhamento Logs</a>

            </div>
        </div>
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light border-bottom">
                <button class="btn btn-link" id="menu-toggle">
                    <i id="open-close" class="fa fa-long-arrow-left" aria-hidden="true"></i>
                </button>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item dropdown">
                            <partial name="_LoginPartial" />
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- Renderiza a Index Aqui -->
            @RenderBody()
        </div>
    </div>
    <!-- javascrips imports -->
    <script src="~/js/min/jquery.min.js"></script>
    <script src="~/js/min/popper.min.js"></script>
    <script src="~/js/min/bootstrap.min.js"></script>
    <script src="~/js/template-functions.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>