               
@{
    ViewData["Title"] = @ViewBag.FichaPreenchidaMensagem;
}

<h2>@ViewData["Title"]</h2>
<div class="alert alert-success" role="alert">
    <p>
        Ficha preenchida com sucesso. Para adicionar ficha a outros servidores clique 
        <strong><a asp-controller="App" asp-action="ListarFuncionarios">Aqui </a></strong>.
    </p>
</div>
         