@page
@model gestao.Areas.Identity.Pages.Account.RegisterConfirmationModel
@{
}
<div class="container-fluid">
    <div class="row">
        <div class="pd-15">
            <h1 class="title text-info">Link de confirmaçao de conta enviado !</h1>
            <hr />
            <p class="subtitle">Favor verificar o seu email para confirmar a conta. </p>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}