@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmação de redefinação da senha";
}

<div class="container-fluid">
    <div class="row">
        <div class="card col-md-12">
            <div class="pd-15">
                <h1 class="title">@ViewData["Title"]</h1>
                <p class="subtitle">Sua senha foi alterada com sucesso. Agora você pode logar clicando <a asp-page="./Login">aqui</a>. </p>
                
            </div>
        </div>
    </div>
</div>